/*
Font: 		National Forest
Style: 		Extras
URL: 		https://www.youworkforthem.com/font/T15180/national-forest-font-duo
Foundry: 	Rachel Kick
Foundry: 	https://www.youworkforthem.com/designer/1582/rachel-kick
Copyright:	
Version: 	17
Created:	December 14, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'NationalForestExtras';
	src: url('national-forest-extras.eot');
	src: url('national-forest-extras.eot?#iefix') format('embedded-opentype'),
             url('national-forest-extras.woff2') format('woff2'),
	     url('national-forest-extras.woff') format('woff'),
	     url('national-forest-extras.ttf') format('truetype'),
	     url('national-forest-extras.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
