@font-face {
	font-family: 'BungeeShade';
	font-style: normal;
	src: url('/fonts/BungeeShade-Regular/BungeeShade-Regular.ttf')
}
@font-face {
	font-family: 'NationalForestRegular';
	src: url('/fonts/NationalPark/national-forest-regular/webfonts/national-forest-regular.eot');
	src: url('/fonts/NationalPark/national-forest-regular/webfonts/national-forest-regular.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/NationalPark/national-forest-regular/webfonts/national-forest-regular.woff2') format('woff2'),
		 url('/fonts/NationalPark/national-forest-regular/webfonts/national-forest-regular.woff') format('woff'),
		 url('/fonts/NationalPark/national-forest-regular/webfonts/national-forest-regular.ttf') format('truetype'),
		 url('/fonts/NationalPark/national-forest-regular/webfonts/national-forest-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NationalForestPrintRegular';
	src: url('/fonts/NationalPark/national-forest-print-regular/webfonts/national-forest-print-regular.eot');
	src: url('/fonts/NationalPark/national-forest-print-regular/webfonts/national-forest-print-regular.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/NationalPark/national-forest-print-regular/webfonts/national-forest-print-regular.woff2') format('woff2'),
		 url('/fonts/NationalPark/national-forest-print-regular/webfonts/national-forest-print-regular.woff') format('woff'),
		 url('/fonts/NationalPark/national-forest-print-regular/webfonts/national-forest-print-regular.ttf') format('truetype'),
		 url('/fonts/NationalPark/national-forest-print-regular/webfonts/national-forest-print-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NationalForestBold';
	src: url('/fonts/NationalPark/national-forest-print-bold/webfonts/national-forest-print-bold.eot');
	src: url('/fonts/NationalPark/national-forest-print-bold/webfonts/national-forest-print-bold.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/NationalPark/national-forest-print-bold/webfonts/national-forest-print-bold.woff2') format('woff2'),
		 url('/fonts/NationalPark/national-forest-print-bold/webfonts/national-forest-print-bold.woff') format('woff'),
		 url('/fonts/NationalPark/national-forest-print-bold/webfonts/national-forest-print-bold.ttf') format('truetype'),
		 url('/fonts/NationalPark/national-forest-print-bold/webfonts/national-forest-print-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NationalForestExtraBold';
	src: url('/fonts/NationalPark/national-forest-extra-bold/webfonts/national-forest-extra-bold.eot');
	src: url('/fonts/NationalPark/national-forest-extra-bold/webfonts/national-forest-extra-bold.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/NationalPark/national-forest-extra-bold/webfonts/national-forest-extra-bold.woff2') format('woff2'),
		 url('/fonts/NationalPark/national-forest-extra-bold/webfonts/national-forest-extra-bold.woff') format('woff'),
		 url('/fonts/NationalPark/national-forest-extra-bold/webfonts/national-forest-extra-bold.ttf') format('truetype'),
		 url('/fonts/NationalPark/national-forest-extra-bold/webfonts/national-forest-extra-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	@apply h-full overflow-hidden;
}

/*:root [data-theme='wedding_theme'] {
    --theme-font-family-base: 'LaBelleAurore', sans-serif;
    --theme-font-family-heading: 'LaBelleAurore', sans-serif;
}*/
