@font-face {
	/* Reference name */
	font-family: 'LaBelleAurore';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/LaBelleAurore/LaBelleAurore-Regular.ttf');
}

@font-face {
	font-family: 'Inspiration';
	src: url('/fonts/Inpiration/Inspiraiton-Regular.ttf');
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand/Quicksand-regular.otf');
}
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand/Quicksand-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand/Quicksand-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand/Quicksand-Italic.otf');
	font-style: italic;
}
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand/Quicksand-Light.otf');
	font-weight: light;
}
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand/Quicksand-LightItalic.otf');
	font-weight: light;
	font-style: italic;
}

html,
body {
	@apply h-full overflow-hidden;
}

/*:root [data-theme='wedding_theme'] {
    --theme-font-family-base: 'LaBelleAurore', sans-serif;
    --theme-font-family-heading: 'LaBelleAurore', sans-serif;
}*/
